@import "tailwindcss";

body {
  background-color: #B5B5B5;
}

body.dark {
  background-color: #1A1A1A;
}

@theme {
  --font-heading: "Manrope Variable", sans-serif;
  --font-primary: "Inter Variable", sans-serif;

  --color-hotspot: #0C4A6A80;
  --color-container-big: rgba(255, 255, 255, 0.40);
  --color-container-small: rgba(255, 255, 255, 0.20);
  --color-text-secondary: #666666;
}

:root {
  --primary-text: #000000;
  --secondary-text: #828282;
  --first-summary-text: #666666;
  --second-summary-text: #0C4A6A;
}

.dark {
  --primary-text: #ffffff;
  --secondary-text: #828282;
  --first-summary-text: #999999;
  --second-summary-text: #54B7EC;

  --color-hotspot: #54B7EC80;
  --color-container-big: rgba(0, 0, 0, 0.20);
  --color-container-small: rgb(102, 102, 102, 0.20);
  --color-text-secondary: #999999;
}

.text-primary-text {
  color: var(--primary-text);
}

.text-first-summary-text {
  color: var(--first-summary-text);
}

.text-second-summary-text {
  color: var(--second-summary-text);
}