@import "tailwindcss";

body {
  background-color: #DEDEDE;
}

body.dark {
  background-color: #424242;
}

@theme {
  --font-heading: "Manrope Variable", sans-serif;
  --font-primary: "Inter Variable", sans-serif;
}

:root {
  --primary-text: #000000;
  --secondary-text: #828282;
}

.dark {
  --primary-text: #ffffff;
  --secondary-text: #828282;
}

.text-primary-text {
  color: var(--primary-text);
}