@import "tailwindcss";

@theme {
  --font-heading: "Manrope Variable", sans-serif;
  --font-primary: "Inter Variable", sans-serif;

  --color-primary-text: #ffffff;
  --color-secondary-text: #828282;
}